/* VARIABLE DEFINITIONS */
* {
    -fx-my-menu-color:  linear-gradient(to left, #74ebd5, #acb6e5);         
    -fx-my-menu-item-color: linear-gradient(to left, #92BEDA, #acb6e5);
    -fx-my-menu-color-highlighted:  white;
    -fx-my-menu-font-color: #FFFFFF;           
    -fx-my-menu-font-color-highlighted: #acb6e5;
    -fx-my-top-bar-color: rgba(255,255,255,0.5);
    -fx-my-table-color: rgba(255,255,255,0.75);
}

.image-pane {
	-fx-background-image: url(../img/displayBg.jpg);
	-fx-background-size: cover;
}

.button-design {
	-fx-background-color: -fx-my-top-bar-color;
	-fx-background-radius: 10;
	-fx-background-insets: 0;
	-fx-border-color: -fx-my-menu-item-color;
	-fx-border-radius: 10;
	-fx-border-width: 2;
}

.button-design:hover, .button-design:pressed {
	-fx-background-color: -fx-my-menu-item-color;
}

/* combo-box itself without dropdown */
.combo-box-design {
	-fx-background-color: -fx-my-top-bar-color;
	-fx-background-insets: 0;
	-fx-border-color: -fx-my-menu-color;
	-fx-border-width: 2;
}

.combo-box-design .combo-box-popup .list-view {
	-fx-background-color: -fx-my-table-color;
}

.combo-box-design .combo-box-popup .list-view .list-cell {
	-fx-text-fill: black; 
	-fx-background-color: transparent;
	-fx-padding: 8;
}

.combo-box-design .combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: -fx-my-menu-color;
} 

.tooltip-design {
	-fx-text-fill: black;
	-fx-background-color: -fx-my-menu-color !important; /* important to override the table header column * effect */
	-fx-effect: null;
	-fx-font-size: 13;
	-fx-font-weight: null;
}