/* shared */
.root-pane {
	-fx-font-family: "Century Gothic";
}

.instruction-label {
	-fx-font-size: 14px;
}


/* setSongsView */
/* for clearer instruction view */
.container-color {
	-fx-background-color: rgba(255,255,255, 0.25);
}

.folder-text-field {
	/* exactly same as .button-design but without hover effect for text field */
	-fx-background-color: -fx-my-top-bar-color;
	-fx-background-radius: 10;
	-fx-background-insets: 0;
	-fx-border-color: -fx-my-menu-item-color;
	-fx-border-radius: 10;
	-fx-border-width: 2;
}


/* dialogs */
.progress-bar-bar-color > .bar {
	-fx-background-color: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
	/*-fx-background-color: -fx-my-menu-color;*/
}


.container-heavy-dropshadow {
	-fx-effect: dropshadow(three-pass-box, #32e3d6, 10, 0, 0, 5.0);
}

.white-rounded-container {
	-fx-background-color: white;
	-fx-background-radius: 10;
}

.label-padding {
	-fx-padding: 0px 20px 20px 20px;
}

.check-box-design > .box {
	-fx-background-color: -fx-outer-border, white;
    -fx-background-insets: 0,1;
}

.bigger-font {
	-fx-font-size: 13px;
}

.warning-text {
	-fx-text-fill: red;
}


/* copy songs */
.text-area-design {
    -fx-background-color: -fx-my-table-color;
}

.text-area-design .scroll-pane, .text-area-design .scroll-pane .content, .text-area-design .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area-design .scroll-bar:vertical,
.text-area-design .scroll-bar:vertical > .track,
.text-area-design .scroll-bar:vertical > .track-background, 
.text-area-design .scroll-bar:horizontal,
.text-area-design .scroll-bar:horizontal > .track,
.text-area-design .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent; 
}

/* scroll bar color */
.text-area-design .scroll-bar:vertical > .thumb {
	-fx-background-color: linear-gradient(to top, #74ebd5, #acb6e5);
}

.text-area-design .scroll-bar:horizontal > .thumb {
	-fx-background-color: -fx-my-menu-color;
}

/* scroll bar size */
.text-area-design .scroll-bar > .increment-button, 
.text-area-design .scroll-bar > .decrement-button {
    -fx-padding: 0.5em  ;
}

.transparent-progress-bar > .track {
	-fx-background-color: -fx-my-table-color;
}

.transparent-progress-bar > .bar {
	-fx-background-insets: 3;
}
